{% extends "index.html" %}

{% block style %}
<style>
  #preloader {
      position:fixed;
      /* width: 100%; */
      top:0;
      left:0;
      right:0;
      bottom:0;
      /* background-color:#0d0703; cor do background que vai ocupar o body */
      /* z-index:999; z-index para jogar para frente e sobrepor tudo */
  }
  #preloader .inner {
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);  
  }
  .bolas > div {
    display: inline-block;
    background-color: rgb(57, 53, 53);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
  }
  .bolas > div:nth-child(1) {
      animation-duration:0.75s ;
      animation-delay: 0;
  }
  .bolas > div:nth-child(2) {
      animation-duration: 0.75s ;
      animation-delay: 0.12s;
  }
  .bolas > div:nth-child(3) {
      animation-duration: 0.75s  ;
      animation-delay: 0.24s;
  }
  
  @keyframes animarBola {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    16% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
    }
    33% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1; 
    } 
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" /> -->
{% endblock style %}

{% block content %}
<div class="container my-5" id="logar">

  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Acesse seu Intagram pelo Suggar!</h1>
      <p class="col-lg-10 fs-4">
        Para usar nossos serviços é fácil! Basta informar seus dados de acesso
        ao Instagram que nós nos encarregaremos de trazer até você todos as informações necessárias.
      </p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" id="formulario">
        <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='img/Instagram.png')}}" alt="" height="57">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-secondary" onclick="update()" type="submit">Logar no Insta</button>
        <hr class="my-4">
        <div id="preloader" style="display: none;">
          <div class="inner">
            <!-- HTML DA ANIMAÇÃO PRELOADER! -->
            <div class="bolas">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <p class="text-muted" id="show_return"></p>
      </form>

    </div>
  </div>
</div>

<div class="container my-5" id="home">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Livre-se de pessoas ingratas</h1>
      <p class="lead mb-4">
        E ai?!
        <br>
        Quer deixar de seguir os ingratos que não te seguem de volta, mas acha chato e cansativo 
        ter que ficar olhando um por um o perfil das pessoas que segue?
        <br>
        <br>
        <b>SEUS PROBLEMAS ACABARAM!!!</b>
        <br>
        <br>
        Com o <b>Suggar</b> e alguns cliques, você terá a lista de todos que não te seguem de volta 
        e o <b>PODER</b> tirar do seu perfil quem você quiser. 
      </p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded-lg-3" src="{{url_for('static', filename='img/print_insta.png')}}" alt="" width="720">
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='img/Sugar_icon.png')}}" alt="" height="250">
</div>

{% endblock content %}

{% block scripts %}
<script>
  function update() {
    $(document).ready(function () {
      var url = '/check-progress?login=' + $('#username').val();
      setInterval(function () {
        $.get(url, function (data) {
          $('#show_return').empty();
          $('#show_return').text(data);
          $("#preloader").show();
        });
      }, 500);
    });
  }
</script>
{% endblock scripts %}