{% extends "index.html" %}
{% block content %}
<div class="text-center">
    <main class="w-50 m-auto checkbox mt-5">
        <form method="post">
            <h3 class="h3 mb-3 fw-normal">Faça o login</h3>
            <p>Informe suas credencias de acesso ao Instagram</p>
            <div class="form-floating">
                <input type="text" class="form-control" id="usuario" name="usuario">
                <label for="usuario">Usuário</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="senha" name="senha">
                <label for="senha">Senha</label>
            </div>
            <button class="w-100 btn btn-lg btn-secondary" type="submit">Acessar</button>
        </form>
    </main>
</div>
{% endblock content %}